# Source files
src/

# Test files
__tests__/
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
jest.setup.js

# Configuration files
tsconfig.json
babel.config.js
.gitignore
.npmrc

# CI files
.github/

# Editor files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
node_modules/

# Misc
.DS_Store